{% extends "base.html" %}
{% load static %}

    {% block title %} Logout {% endblock %}



{% block sidenavbar %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

              <li>
                <a href="/fyp_project"><i class = "fa fa-file-text fa-fw"></i>Login Page</a>
              </li>
{% endblock %}
{% block bodyblock %}
<body>

    <div class="container">
      <h1> You Have logged out</h1>
      <br>
    </br>
    <p> Click Login on the sidebar to log back in to the websites
    </p>

    </div>

{% endblock %}
