{% extends "base.html" %}
{% load static %}

    {% block title %}Sign Up{% endblock %}
{% block bodyblock %}
<body>

  <div class="container">
      <div class="row">
          <div class="col-md-4 col-md-offset-4">
              <div class="login-panel panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Please Sign Up</h3>
                  </div>
                  <div class="panel-body">
                      <form  method ="post">
                          {% csrf_token %}

                        <!--   -->
                          <fieldset>
                            {{ form.as_p }}
                            <!--  <div class="form-group">
                                  <input class="form-control" placeholder="Username" name="username" type="text" autofocus>
                              </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Enter Email" name="email" type="email" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Enter Password" name="password" type="password" value="">
                                </div>
								                <div class="form-group">
                                    <input class="form-control" placeholder="Re-enter Password" name="password" type="password" value="">
                                </div>

								                <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

                              </div>-->

                          </fieldset>
                            <a href="/fyp_project" class="btn btn-lg btn-danger btn-block">Cancel</a>
                            <button class="btn btn-lg btn-success btn-block" type="submit" name="submit">Submit</button>

                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
